body{
	color: #fff;
}
.wrapper{
	background: #021015;
	width: 1000px;
	min-height: 600px;
	margin: 20px auto;
	display: flex;
    justify-content: flex-start;
}
#traitementBase{
	margin: 5px 30px;
}

#previewBlock{
	background: red;
	width: 700px;
	display: flex;
	flex-direction: column;
}

#settingBlock{
	min-width: 300px;

}

#header{
	min-height: 80px;
	padding: 10px;
}
#body{
	min-height: 500px;
	display: flex;
	flex-direction: row;
}
#footer{
	min-height: 50px;
}

.pixels, .loading, .finished{
	margin-left: 30px;
}

.initialImg{
	margin: 10px 0px 5px 5px;
	width:300px;
	height: 200px;
	background: grey;
	box-shadow: 5px 3px 3px black;
}

.previewImg{
	width:360px;
	min-height: 400px;
	margin: 20px 20px;
	background: grey;
	box-shadow: 4px 3px 3px black;
}